body {
    background-color: #202020;
    font-family: 'ubuntu' , sans-serif;
    height: 100%;
    margin: 0px;
}

#header {
    width: 100%;
    background-color: #FCFCFC;
    position: fixed;
    top: 0;
    left: 0;
}

#businessLogo {
    display:flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.4em;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 9px 50px;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.nav-link {
    list-style: none;
    padding: 0px 35px;
}

.nav-link > a {
    text-decoration: none;
    color: #000000;
    font-size: 0.9em;
}

.nav-link > a:hover {
    text-decoration: underline;
}

main {
    padding-top: 80px;
    width: 100%;
}

/* the sub-header */
#sub-header {
    width: 100%;
    height: 30vh;
    margin: auto;
    background-color: rgba(252, 252, 252, 1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 15px 0px;
}

/* features-zone */
#features-zone {
    padding-top: 50px;
    width: 100%;
    min-height: 70vh;
    margin: 35px auto;
    display: flex;
    align-items: center;
    color: #ffffff;
}

#grid {
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 12px 18px;
    align-items: center;
}

#feat1 , #feat2 , #feat3 {
    color: #FFB600;
    font-size: 1.5em;
    text-align: center;
}

/* video zone */
#video-zone {
    width: 100%;
    min-height: 45vh;
    padding-top: 80px;
    margin: 35px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* card section */
#cards {
    width: 70%;
    min-height: 65vh;
    margin: 35px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.article-card {
    background-color: #E8E8E8;
    border: solid 0.75px #000;
    border-radius: 6px;
    width: 25%;
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-card h3 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    width: 100%;
    padding: 8px 0px;
    text-align: center;
}

.article-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 8px;
    background-color: whitesmoke;
    border-radius: 0px 0px 6px 6px;
}

.article-card h4 {
    font-size: 1.9em;
    margin: 6px auto;
}

.article-card li {
    list-style-type: none;
    margin-left: -40px;
    padding: 6px 0px;
    font-size: 0.8em;
}

/* buttons of the landing page */
#sub-header form > button , .article-card button {
    background-color: #FFE000;
    border: 2px solid #FFE000;
    border-radius: 2px;
    margin-top: 15px;
    padding: 12px 25px;
    text-transform: uppercase;
    font-weight: 600;
}

#sub-header form > button:hover , .article-card button:hover {
    background-color: #FFB600;
    border: 2px solid #FFB600;
}

/* footer */
#footer {
    width: 70%;
    background-color: whitesmoke;
    margin: auto;
    padding: 12px 25px;
    font-size: 0.8em;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0px auto;
}

#footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#footer ul > li {
    margin: 0px 0px 10px 35px;
}

#footer a {
    text-decoration: none;
    color: #000000;
}

#footer p {
    margin: 0px;
}

